.blog_container {
  padding: 60px;
}
.blog_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.blog_mini_card {
  width: 100%;

  position: relative;
}
.blog_details {
  position: absolute;
  /* top: 0px; */
  left: 0px;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hj{

    padding: 20px;
}
.summer {
  color: #ddd;
  font-size: 20px;
  /* width: 70%; */
  text-transform: capitalize;
  margin-bottom: 30px;
}
.learnmore {

  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.blog_mini_card img {
  width: 100%;
  border-radius: 5px;

  height: 90vh;
  object-fit: cover;
}

.blog_mini_card::before {
  content: "";
  border-radius: 5px;

  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(5, 16, 54, 0.7), rgba(5, 16, 54, 0));
}
